<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th><h3>User name</h3></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% unless user.id == current_user.id %>      
        <tr>
          <td><h4><%= user.username %></h4></td>
          <br>
          <td><%= link_to 'Show', user_path(user) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>